<!-- eslint-disable vue/no-parsing-error -->
<template>
  <q-page padding>
    <Carousel></Carousel>

    <p style="text-align: center">
      Click on the dots above to scroll through more examples
    </p>
  </q-page>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
import { mapState } from "vuex";
export default {
  name: "ExamplesPage",
  data() {
    return {
      perPage: 3,
    };
  },
  components: {
    Carousel,
    //Slide,
  },
  computed: mapState(["CurrentCode"]),
  created() {
    if (screen.width < 420) {
      this.perPage = 1;
    }
  },
  methods: {
    CopyCode: function (el) {
      var copyText = document.getElementById(el);
      this.$store.state.CurrentCode = copyText.innerHTML;
      this.$router.push("/#/Practice");
    },
  },
};
</script>
<style scoped>
#Mobilecarousel {
  display: none;
}

.slide {
  max-width: 33%;
}

#slide {
  width: 69%;
  border: 0.5px solid;
  height: 416px;
  text-align: left;
  display: inline-block;
  padding-left: 4%;
  font-size: 105%;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.4), 0 1px 11px rgba(0, 0, 0, 0.54);
  overflow: auto;
}

h6 {
  margin-bottom: 0;
}

pre {
  margin-top: 0;
}

#TryCodebtn {
  margin-top: 8%;
  width: 36%;
  height: 56px;
  cursor: pointer;
}

#TryCodebtn:hover {
  border: none;
}

#CodePara {
  width: 100%;
  text-align: left;
  padding-left: 4%;
  font-size: 100%;
}

.VueCarousel-navigation-q-btn {
  font-size: larger;
  margin-right: 3%;
}
#carousel-body {
  margin-bottom: 5%;
}

q-btn:focus {
  outline: 0;
}
#carousel {
  display: block;
}

button[aria-label="Previous page"] {
  margin-left: 44px;
}
button[aria-label="Next page"] {
  margin-right: 44px;
}

@media only screen and (max-width: 480px) {
  #TryCodebtn {
    margin-top: 8%;
    width: 45%;
    height: 56px;
    cursor: pointer;
  }

  #carousel {
    display: none;
  }
  #Mobilecarousel {
    display: block;
  }

  .slide {
    max-width: 100%;
  }
}
</style>
