<template>
  <q-page padding class="practice">
    <div class="q-pa-md">
      <div class="row items-start q-gutter-md">
        <q-responsive :ratio="16 / 9" class="col">
          <div class="rounded-borders text-white bg-onedark">
            <Codemirror
              class="codearea"
              v-model="code"
              height="200px"
              :class="'my-font'"
              :options="cmOption"
              placeholder="Welcome To Kalaam, This is your Code Editor."
              @cursorActivity="onCmCursorActivity"
              @ready="onCmReady"
              @focus="onCmFocus"
              @blur="onCmBlur"
              @change="onCmCodeChange"
              :extensions="extensions"
            />
          </div>
          <div>
            <q-btn
              flat
              @click="Run()"
              id="Runbtn"
              label="Run"
              class="btn btn-htb-hollow btn-htb-green"
            />
            <q-btn
              flat
              id="Clearbtn"
              @click="Clear()"
              label="Clear"
              class="btn btn-htb-hollow btn-htb-red"
            />
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.Print + '()')"
              class="btn btn-htb-hollow btn-htb-blue"
              >{{ Keyword.Print }}</q-btn
            >
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.Input + '()')"
              class="btn btn-htb-hollow btn-htb-blue"
              >{{ Keyword.Input }}</q-btn
            >

            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.If + '()')"
              class="btn btn-htb-hollow btn-htb-blue"
              >{{ Keyword.If }}</q-btn
            >

            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.For)"
              class="btn btn-htb-hollow btn-htb-blue my-font"
              >{{ Keyword.For }}</q-btn
            >
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.While + '()')"
              class="btn btn-htb-hollow btn-htb-blue my-font"
              >{{ Keyword.While }}</q-btn
            >
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.Length + '()')"
              class="btn btn-htb-hollow btn-htb-blue my-font"
              >{{ Keyword.Length }}</q-btn
            >
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.Push)"
              class="btn btn-htb-hollow btn-htb-blue my-font"
              >{{ Keyword.Push }}</q-btn
            >
            <q-btn
              flat
              id="subm"
              @click="Add(Keyword.Function)"
              class="btn btn-htb-hollow btn-htb-blue my-font"
              >{{ Keyword.Function }}</q-btn
            >
          </div>
        </q-responsive>
        <q-responsive :ratio="4 / 3" class="col">
          <div class="rounded-borders text-white bg-onedark">
            <p id="version">മൊഴി - കോഡിന്റെ ഫലം ഇവിടെ കാണിക്കും</p>
            <br />
            <p
              style="display: block"
              id="linebylineOutput"
              v-for="(output, index) in this.linebylineOutput"
              :key="index"
            >
              {{ output }}
            </p>
          </div>
        </q-responsive>
      </div>
    </div>
  </q-page>
</template>

<script>
//import CodeMirror from "../components/CodeMirror";
import { Codemirror } from "vue-codemirror";
import Compile from "src/lib/Compiler/main";
import { KalaamKeywords } from "src/lib/Compiler/constants";
const langs = Object.keys(KalaamKeywords);
// theme css
import { oneDark } from "@codemirror/theme-one-dark";
import { shallowRef } from "vue";
export default {
  name: "PracticePage",
  //Imported components
  components: {
    Codemirror,
  },
  data() {
    return {
      code: "",
      checked: "",
      //Compiled Output
      output: "",
      cm: shallowRef(),
      extensions: [oneDark],
      //Error handling array. Need a lot of improvements in this particular part
      error: [],
      OperationObjects: [],
      //Printing compiled output in a more readable line by line format
      linebylineOutput: "",

      //Calculating the time taken to compile the code
      TimeTaken: "",
      flag: false,
      inputIndexes: [],
      //input: '',
      isError: "",
      ExecutionStack: [],
      ExecutionStackLinebyLine: "",
      LastConditionValue: [],
      LineByLineCode: [],
      CurrentLine: 0,
      showMenu: false,
      Keyword: KalaamKeywords,
      isRoutePractise: false,

      ShowSupport: true,
      ShowAbout: true,
      isMobile: false,
      cmOption: {
        tabSize: 4,
        foldGutter: true,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        keyMap: "sublime",
        mode: "text/x-vue",
        extraKeys: {
          F11(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          Esc(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          },
        },
      },
    };
  },
  methods: {
    Clear: function () {
      console.log(this.code);
      this.code = "";
      this.cm.dispatch({
        changes: { from: 0, to: this.cm.state.doc.length, insert: this.code },
      });
    },
    onCmCursorActivity(codemirror) {
      console.debug("onCmCursorActivity", codemirror);
    },
    onCmReady(codemirror) {
      this.cm = codemirror.view;

      // if (screen.width < 420) {
      //   this.cm.setSize("100%", 500);
      //   this.isMobile = true;
      // } else {
      //   this.cm.setSize("100%", 550);
      //   this.isMobile = false;
      // }
    },
    onCmFocus(codemirror) {
      console.debug("onCmFocus", codemirror);
    },
    onCmBlur(codemirror) {
      console.debug("onCmBlur", codemirror);
    },
    onCmCodeChange(newCode) {
      this.code = newCode;
      localStorage.setItem("Code", newCode);

      //this.$store.state.CurrentCode = newCode;
    },
    //Add() is a function used to add clicked keywords on to the code editor.
    //This keywords are in hindi, provided in the control panel at the bottom of our code editor.
    Add: function (insert) {
      //Getting a codemirror instance
      var doc = this.cm.state.doc;
      const ranges = this.cm.state.selection.ranges;
      const selected = ranges.reduce(
        (r, range) => r + range.to - range.from,
        0
      );
      const cursor = ranges[0].anchor;

      //Adding the clikced element (insert)
      this.cm.dispatch({
        changes: { from: cursor, insert: insert },
      });

      //getting the active element

      //setting as active line
    },
    Run: function () {
      //Compile is our #1 function located in /lib/compiler/main.js
      //this.$data is the local data restricted to Kalaam.io/practise component which we have declared in 'data()' above
      //try  to see what we are sending to our compiler

      var {
        linebylineOutput,
        TimeTaken,
        isError,
        output,
        error,
        ExecutionStack,
      } = Compile(this.code, this.Keyword);

      this.linebylineOutput = linebylineOutput;
      this.TimeTaken = TimeTaken;
      this.isError = isError;
      this.error = error;
      this.output = output;
      this.ExecutionStack = ExecutionStack;
      console.log(this.output);
    },
  },
  watch: {},
  created() {
    this.checked = true;

    //Setting the formatted code to this.code. this.code is how you can access the code written by user.
    //let m = this.$store.state.CurrentCode.replace(/&lt;/g, "<");

    // m = m.replace(/&gt;/g, ">");

    // m = m.replace(/&amp;/g, "&");
    // this.code = m;

    // if (this.code == "") {
    //   this.code = localStorage.getItem("Code");
    // }
  },
};
</script>
<style lang="scss" scoped>
.practice {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgb(26, 35, 50) 15%,
    rgb(20, 29, 43) 0px
  );
}
.bg-onedark {
  background-color: #282c34;
  padding: 1rem;
}

.pre {
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: auto;
  display: block;
  line-height: 1.6;
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 2%;
  padding-left: 2%;
}

.btn-htb-hollow {
  text-transform: uppercase;
  border: 1px solid #1a2332;
  border-radius: 4px;
  padding: 1rem;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.btn {
  min-width: 160px;
}

.btn-htb-hollow.btn-htb-blue {
  transition: 0.3s;
  color: #0086ff !important;
  border: 1px solid #0086ff;
}
.btn-htb-hollow.btn-htb-blue:hover {
  border-color: #0086ff;
  background: #0086ff;
  color: #fff !important;
}

.btn-htb-hollow.btn-htb-green {
  transition: 0.3s;
  color: #0cb528 !important;
  border: 1px solid #0cb528;
}

.btn-htb-hollow.btn-htb-green:hover {
  border-color: #0cb528;
  background: #0cb528;
  color: #fff !important;
}

.btn-htb-hollow.btn-htb-red {
  transition: 0.3s;
  color: #f60707 !important;
  border: 1px solid #f60707;
}

.btn-htb-hollow.btn-htb-red:hover {
  border-color: #f60707;
  background: #f60707;
  color: #fff !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* border-radius: 0.25rem; */
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

#versionNumber {
  text-align: left;
  display: block;
  font-family: monospace;
  padding-left: 6%;
}

#version {
  margin: 0;
  float: left;
  color: #afaf70;
  font-size: 90%;
}

#linebylineOutput {
  height: 10px;
  text-align: left;
}
#errorstack {
  text-align: left;
  padding-left: 2.5%;
  padding-top: 6%;
  font-weight: bold;
  color: rgb(231, 83, 83);
}

#compiler {
  display: flex;
  overflow-x: scroll;
}

#textarea {
  width: 50%;
  margin-left: -1%;
}
</style>
