<template>
  <div class="q-pa-md">
    <div class="row items-start q-gutter-md">
      <q-responsive :ratio="16 / 9" class="col">
        <div class="rounded-borders text-white bg-onedark">
          <Codemirror
            class="codearea"
            v-model="code"
            height="200px"
            :options="cmOption"
            placeholder="Welcome To Kalaam, This is your Code Editor."
            @cursorActivity="onCmCursorActivity"
            @ready="onCmReady"
            @focus="onCmFocus"
            @blur="onCmBlur"
            :extensions="extensions"
          />
        </div>
        <div>
          <q-btn />
        </div>
      </q-responsive>

      <q-responsive :ratio="4 / 3" class="col">
        <div class="rounded-borders text-white bg-onedark">
          <pre class="pre">{{ code }}</pre>
        </div>
      </q-responsive>
    </div>
  </div>
</template>

<script>
import { Codemirror } from "vue-codemirror";
// theme css
import { oneDark } from "@codemirror/theme-one-dark";

export default {
  name: "CodeMirror",
  components: {
    Codemirror,
  },
  data() {
    return {
      code: "",
      extensions: [oneDark],
      cmOption: {
        tabSize: 4,
        foldGutter: true,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        keyMap: "sublime",
        mode: "text/x-vue",
        extraKeys: {
          F11(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          Esc(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          },
        },
      },
    };
  },
  methods: {
    onCmCursorActivity(codemirror) {
      console.debug("onCmCursorActivity", codemirror);
    },
    onCmReady(codemirror) {
      console.debug("onCmReady", codemirror);
    },
    onCmFocus(codemirror) {
      console.debug("onCmFocus", codemirror);
    },
    onCmBlur(codemirror) {
      console.debug("onCmBlur", codemirror);
    },
  },
};
</script>

<style lang="scss" scoped>
.bg-onedark {
  background-color: #282c34;
  padding: 1rem;
}

.pre {
  width: 50%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}
.pre {
  display: block;
  line-height: 1.6;
  word-break: break-all;
  word-wrap: break-word;
}
</style>
