<template>
  <q-layout class="bg-grey-1">
    <q-header
      elevated
      class="text-white"
      style="background: #111927"
      height-hint="61.59"
    >
      <q-toolbar class="q-py-sm q-px-md">
        <q-toolbar-title
          v-if="$q.screen.gt.sm"
          shrink
          class="row items-center no-wrap GL__toolbar-link"
        >
          <span class="q-ml-sm"
            ><a href="/#" class="text-white">
              <img src="assets/banner.png" /> </a
          ></span>
        </q-toolbar-title>

        <q-space />

        <div
          v-if="$q.screen.gt.sm"
          class="GL__toolbar-link q-ml-xs q-gutter-md text-body2 text-weight-bold row items-center no-wrap"
        >
          <a href="/#/practice" class="text-white"> Practice </a>
          <a href="/#/documentation" class="text-white"> Documentation </a>
          <a href="/#/examples" class="text-white"> Examples </a>
          <a href="/#/about" class="text-white"> About </a>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="footer">
      <p class="text-center"><a id="credit"> © Swanand Kadam</a></p>
    </q-footer>
  </q-layout>
</template>

<script>
import { ref } from "vue";
import { fabGithub } from "@quasar/extras/fontawesome-v6";
const stringOptions = [
  "quasarframework/quasar",
  "quasarframework/quasar-awesome",
];
export default {
  name: "MyLayout",
  setup() {
    const text = ref("");
    const options = ref(null);
    const filteredOptions = ref([]);
    const search = ref(null); // $refs.search
    function filter(val, update) {
      if (options.value === null) {
        // load data
        setTimeout(() => {
          options.value = stringOptions;
          search.value.filter("");
        }, 2000);
        update();
        return;
      }
      if (val === "") {
        update(() => {
          filteredOptions.value = options.value.map((op) => ({ label: op }));
        });
        return;
      }
      update(() => {
        filteredOptions.value = [
          {
            label: val,
            type: "In this repository",
          },
          {
            label: val,
            type: "All GitHub",
          },
          ...options.value
            .filter((op) => op.toLowerCase().includes(val.toLowerCase()))
            .map((op) => ({ label: op })),
        ];
      });
    }
    return {
      fabGithub,
      text,
      options,
      filteredOptions,
      search,
      filter,
    };
  },
};
</script>

<style lang="sass">
.GL
  &__select-GL__menu-link
    .default-type
      visibility: hidden
    &:hover
      background: #0366d6
      color: white
      .q-item__section--side
        color: white
      .default-type
        visibility: visible
  &__toolbar-link
    a
      color: white
      text-decoration: none
      &:hover
        opacity: 0.7
  &__menu-link:hover
    background: #0366d6
    color: white
  &__menu-link-signed-in,
  &__menu-link-status
    &:hover
      & > div
        background: white !important
  &__menu-link-status
    color: $blue-grey-6
    &:hover
      color: $light-blue-9
  &__toolbar-select.q-field--focused
    width: 450px !important
    .q-field__append
      display: none
.footer
  background-color: #111927
  height: 40px
  margin-top: 27%
  p
    position: relative
    top: 21%
#credit
  text-decoration: none
  color: white
</style>
